<?php

function listFiles($path = '', &$files = '')
{
    if (!is_dir($path)) return $files;

    $opendir = opendir($path);
    $path = str_replace('themes/', '', $path);

    while ($file = readdir($opendir))
    {
        if (is_file($sub = 'themes/'.$path.'/'.$file))
        {
            $files .= '<option value="'.$path.'/'.$file.'">'.substr($file, 0, strrpos($file, '.')).'</option>';
        }

        else if ($file != '.' && $file != '..')
        {
            listFiles($sub, $files);
        }
    }

    return $files;
}

if (count($themes) == 1)
{
    $items = listFiles('themes/'.$theme.'/'.$this->property('type'));
}

else
{
    $items = '';

    foreach ($themes as $name)
    {
        $items .= '<optgroup label="'.$name.'">';
        $items .= listFiles('themes/'.$name.'/'.$this->property('type'));
        $items .= '</optgroup>';
    }
}

?>
<div class="report-widget">
    <h3 style="margin-bottom:25px;"><?= e(trans($this->property('title'))) ?></h3>
    <form>
        <p>
            <select name="page" id="QeditSelect" onchange="QeditPage(this);" class="form-control custom-select" style="width:100%;">
                <option value=""><?= e(trans('indikator.qedit::lang.widget.select')) ?></option>
                <?= $items ?>
            </select>
        </p>
        <p>
            <div<?php if ($this->property('editor') == 'rich') echo ' class="field-richeditor size-'.$this->property('size').'" data-control="richeditor"'; ?>>
                <textarea name="content" id="QeditTextarea"<?php if ($this->property('editor') == 'none') echo ' style="height:'.$this->property('height').'px;width:100%;"'; ?>></textarea>
            </div>
        </p>
        <p>
            <button
                type="submit"
                data-request="<?= $this->getEventHandler('onQeditSave') ?>"
                data-hotkey="ctrl+s, cmd+s"
                class="btn btn-primary">
                <?= e(trans('backend::lang.form.save')) ?>
            </button>
            <span style="margin-left:10px;"><small><?= e(trans('indikator.qedit::lang.widget.modify')) ?>: <strong id="QeditDate"><?= e(trans('indikator.qedit::lang.widget.nodate')) ?></strong></small></span>
        </p>
    </form>
</div>
<script type="text/javascript">
function QeditPage(path)
{
    $.post('<?= Backend::url('indikator/qedit/content') ?>?path=' + path.value, function(data, status) {
        if ($('.field-richeditor').length == 0) $('#QeditTextarea').val(data);
        else $('#QeditTextarea').redactor('code.set', data);
    });

    $.post('<?= Backend::url('indikator/qedit/date') ?>?path=' + path.value, function(data, status) {
        $('#QeditDate').html(data);
    });
}
</script>